<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TD Generator</a>
    <div class="d-flex">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Generate
      </button>
    </div>
  </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form #tdForm="ngForm" (ngSubmit)="onSubmit(tdForm)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Generate Thing Description</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for ="title">Title</label>
            <input type="title"
                   id="title"
                   ngModel
                   name="title"
                   required
                   class="form-control"/>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abort</button>
        <div>
          <button class="btn btn-primary" type="submit" data-bs-dismiss="modal" [disabled]="tdForm.invalid">Generate</button>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
